body{
    background-image: url(JPEG/bj2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#table{
    display: inline-block;
    border-radius: 0% 50% 100% 100%;    
    height: 800px;
    width: 100%;
    background-color:rgb(20, 78, 20);
    margin: -250px 0 0 0;
    border: 4px solid rgb(3, 3, 3);
}
button{
    cursor: pointer;
    margin-bottom: 10px;
}
.buttons{
    text-align: center;
    margin: 100px 0 0 0 ;
}
#box1,
#box2{
    background-color:rgb(27, 46, 33);
    height: 90px;
    text-align: center;
    margin: 10px 150px 10px 150px;
    border-radius: 100%;   
}

.table2{
    margin-top: 350px;
} 

img{
    padding-top: 5px;
    height: 80px;
    width: 50px;
}
#messages{
    position: relative;
    top: 300px;
    text-align: center;
    font-size: 2em;
    color:red;
    margin: 0%;
    padding: 0%;
}